<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog! </h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Eu sou a Claudia e sou uma jovem em busca de aprendizados pelo Mundo. 
                Sou estudante de Tecnologia em Automação Industrial, aprendi muito com 
                área e carrego valiosos valores que adquiri no curso e no Grupo de Robótica, 
                porém, quero ir além e ter novas jornadas...
                Uma dessas jornadas me refiro a tecnologia, área, no qual estou há 1 ano, 
                venho obtendo maravilhosas experiências e obtive aprendizados como HTML, CSS, 
                JS, GitHub, Python, Django, lógica de programação e atualmente estou aprendendo 
                Java através da Generation Brasil.
                De toda essa jornada devo confessar que sigo apaixonada cada dia mais pela 
                tecnologia e possibilidades. Bom, posso dizer que é um mix de áreas que dá 
                super certo! Te convido a ver mais detalhes sobre minha jornada profissional 
                neste perfil ! 
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="com-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>
